@import'utilities.css';

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotting:antialiased;
}
header {
    background-color:black;
}
.project{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    
}

header nav .left a{
    color: whitesmoke;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color:palevioletred;
}

header nav {
    padding: 2rem 0;
}

header nav .profile{
    margin-right: 3rem;
}

.hero{
    padding: 6rem 0;
}

.hero .left img{
    width: 400px;

}

.hero .right{
    color:white;
}

.hero .right h1{
font-size: 3rem;
color:purple;
margin-bottom: 0.5rem;

}

.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
}

.hero .right h2 span{
   color:purple;
}

.hero .right h2{
    font-size: 3rem;
}
.hero .right h3{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color:purple;
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'lato', sans-serif;
    color: grey;
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}

.section-heading{
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span{
    color: purple;
}

section.hobbies{
    background:lightsteelblue;
}

section.hobbies .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

section.hobbies .card-wrapper .card{
    background: whitesmoke;
    padding: 3rem 2rem;
}

section.hobbies .card-wrapper .card h3{
    color: blueviolet;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'lato', sans-serif;
}

section.hobbies .card-wrapper .card h2{
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
}

section.contact .card-wrapper .card{
  text-align: center;
}
    
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section.contact .card-wrapper .card img{
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h2{
    font-weight: 400;
}

section.contact .card-wrapper .project-title h2{
    text-align: center;
    margin-top: 3rem;
}
